# .gitignore                                                       -*- conf -*-

# Editor backup files
*~

# Compiled Haskell
*.hi
*.o
dist/
dist-newstyle/

# Cabal stuff
.cabal-sandbox/
cabal.sandbox.config
.cabal-exec/
